body {
  background-color: #9f80ff;
  font-family: "Lato", sans-serif;
  color: Purple;
}
h1 {
  color: CornSilk;
}

nav ul {
  background-color: tomato;
  border-style: solid;
  border-color: MediumVioletRed;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: PapayaWhip;
}
nav ul li a {
  text-decoration: none;
  color: Brown;
}

section {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #F5FFFA;
  padding-bottom: 10px;
}


article {
  border-radius: 10px;
  padding: 10px;
}

.mediumPics {
  width: 200px;
  border-radius: 10px;
}
        
#frontPage {
  background: #c1ebec;
  background: linear-gradient(to right, #87CEFA, #c1ebec);
}

#welcomeText {
  animation-name: green-pulse;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

#imgDanio {
  border-radius: 100%;
  width: 100px;
}
#imgDanio:hover {
  animation-name: rollOver;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.sectionSpacing {
  padding: 1em;
  margin-top: 2em;
}

.purpleBackground {
  background-color: #9f80ff;
}

.greenBackground {
  background-color: #48D1CC;
}

.yellowBackground {
  background-color: #FFFFCC;
  color: #A52A2A;
}

.solidRoundBorders {
  border-style: solid;
  border-width: 2px;
  border-color: #F5FFFA;
  border-radius: 10px;
}

.sectionSpacing {
  padding: 10px;
  margin-top: 20px;
}

.purpleBackground {
  background-color: #9f80ff;
}

.greenBackground {
  background-color: #48D1CC;
}

.niceLinks {
  text-decoration: none;
  color: #A52A2A;
}
.niceLinks:hover {
  color: PapayaWhip;
}